[Unit]
Description=Vaultwarden backup script
After=network.target

[Service]
Type=oneshot
WorkingDirectory={{project_dir}}/src
EnvironmentFile=/etc/vaultwarden-backup/.env
ExecStart={{project_dir}}/.venv/bin/python {{project_dir}}/src/main.py
